
body {
  background-color: #F6E7D1;
  
} 


/* navbar css here */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  z-index: 999;
  
}
header h1{
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

nav {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-left: -5%;
}

nav a {
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  letter-spacing: 0.05rem;
  color: #006241;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

nav a:hover {
  color: #048B5A;
  
}
.btn-singin{
  background-color: #a7a7a7;
  color: black;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: 'arial', sans-serif;
}

.btn-singin:hover {
  background-color:white;
}
