
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <title>PureVia</title>
</head>
<body>

<!-- top navbar here -->

    <div>
        <ul class="nav">
            <li class="left"><a href="#">Anasayfa</a></li>
            <li class="right"><a href="#">Hesabım</a></li>
            <li class="right"><a href="#">Sepetim</a></li>
        </ul>
    </div>

{% block content %}


{% endblock content %}
    
</body>
</html>